.div-content{
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-card{
    height:80% !important;
    width: 60% !important;
    direction: rtl
}

.img-card{
    height:80% !important;
    width: 30% !important;
    direction: rtl
}

.card-body{
    padding: 0 !important;
    width:100% !important;
    height: 100% !important;
}
